@model TopMenuModel.CategoryLineModel
@{
    //subcategories
    var subCategories = Model.ResponsiveMobileMenu ?
    //responsive (all categories)
    Model.Category.SubCategories :
    //standard design (only categories with "IncludeInTopMenu")
    Model.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();
}
<li>
    <a href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
        <span>
            @Model.Category.Name
            @if (Model.Category.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)
            }
        </span>

    </a>
    @if (subCategories.Count > 0)
    {
        <i class="mbi mbi-ios-arrow-down"></i>
    }
    @{


        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
        }
        if (subCategories.Count > 0)
        {
            <div class="simple-dropdown submenu show-sub">
                <ul class="sublist @levelClass">
                    @foreach (var subCategory in subCategories)
                    {
                        var categoryLineModel = new TopMenuModel.CategoryLineModel
                        {
                            Category = subCategory,
                            Level = Model.Level + 1,
                            ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                        };
                        @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                    }
                </ul>
            </div>

        }
    }
</li>