@model IList<TestimonialModel>
<div class="box-testimonial">
    <div class="container">
        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle" src="@item.ImageUrl" alt="@item.FullName" />
                            <p class="lead">@item.FullName</p>
                            <div class="text-primary">@Html.Raw(item.FullDescription) </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        var testimonialslider = new Swiper('.testimonial-slider', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
            },
        })
    });
</script>
