@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <button title="@T("Products.Compare.AddToCompareList")" class="tocompare" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
        <span class="mbi mbi-chart-bars"></span>
    </button>
}